.water {
  position: fixed;
  top: 50px;
  right: 10px;
  max-width: 200px;
}

.water-img {
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.water-img img {
  animation: bounce 1s alternate-reverse infinite;
  background-color: rgb(180, 231, 255);
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.water-img.close img {
  transform: translateY(0%);
  animation-play-state: paused;
}

@keyframes bounce {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0%);
  }
}

.water__main.show {
  opacity: 1;
  display: block;
  background-color: rgb(101, 178, 204);
  background: rgb(45, 114, 189);
  background: linear-gradient(
    0deg,
    rgba(45, 114, 189, 1) 8%,
    rgba(123, 203, 245, 1) 48%,
    rgba(193, 245, 255, 1) 100%
  );
  color: white;
  padding: 20px;
  border-radius: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(0%, 0%);
  transition: all 0.5s linear;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3), -2px -2px 0px rgba(0, 0, 0, 0.3),
    4px 4px 2px rgba(0, 0, 0, 0.3), -4px -4px 2px rgba(0, 0, 0, 0.3);
}

.water__main button {
  border: none;
  background: transparent;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  margin: 0 0 10px 0;
}

button:focus,
button:active {
  outline: none;
}

.water__main {
  opacity: 0;
  transition: all 0.5s linear;
  transform: translate(120%, -100%);
}

.water__glasses {
  border: 4px solid rgb(0, 75, 136);
  font-size: 1.5em;
  height: 2.5em;
  width: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px rgba(27, 16, 128, 0.5),
    -2px -2px rgba(27, 16, 128, 0.5);
}
