.exercise {
}

.exercise__text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 50%;
  text-align: center;
  margin: auto;
}

.exercise__text textarea {
  margin: 20px;
  font-size: 1.5em;
  height: 100px;
}

.exercise h3 {
  font-size: 2em;
}

.exercise__contain {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  margin: 30px;
}

.exercise__name {
  border: 3px solid black;
  padding: 20px;
}
