.header {
  width: 100%;
  background-color: #9cf841;
  border-top-left-radius: 40px;
  height: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-elements {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.7em;
  transition: all 0.4s ease-in;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-elements:hover > span {
  animation: line 0.5s linear;
  color: white;
  background: linear-gradient(90deg, transparent, #f4a803);
  height: 4px;
  top: 0px;
  width: 100%;
  display: block;
}

.header-elements:hover {
  color: #f4a803;
}

@keyframes line {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}
