.meal {
  width: 100%;
  margin: 0;
}

.meal h2 {
  text-align: center;
  font-size: 2em;
  padding: 20px;
}

.meal form {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.meal form input {
  padding: 0;
  margin: 0;
  width: 40%;
  height: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
}

input:focus {
  outline: none;
}

.meal form button {
  padding: 0;
  margin: 0;
  width: 20%;
  height: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.meal__auto {
  background-color: rgb(252, 246, 242);
  width: 80%;
  margin: auto;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

.meal__auto p {
  border-bottom: 1px solid orange;
  margin: 8px;
  cursor: pointer;
}

.meal__auto p:hover {
  color: orange;
}

@media (max-width: 720px) {
  .meal h2 {
    margin: 20px;
  }
  .meal form input {
    width: 60%;
  }

  .meal form button {
    width: 30%;
  }
}

@media (max-width: 300px) {
  .meal form input {
    width: 85%;
  }

  .meal form button {
    width: 15%;
    font-size: 15px;
  }
  .meal form button p {
    display: none;
  }

  .meal h2 {
    font-size: 1.3em;
    margin-top: 50px;
  }
}
