.recipe h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 800;
  padding: 20px;
}

.recipe {
  width: 100%;
  background-color: transparent;
  min-height: 85vh;
  margin: 0;
}

.recipe form {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe form input {
  padding: 0;
  margin: 0;
  width: 40%;
  height: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  padding: 10px;
  font-weight: 600;
}

input:focus {
  outline: none;
}

.recipe form button {
  padding: 0;
  margin: 0;
  width: 20%;
  height: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.recipe__list {
  padding: 20px;
}

.recipe__img {
  display: flex;
  column-gap: 30px;
}

.recipe__main {
  width: 80%;
  margin: 30px auto;
  border-bottom: 2px solid rgb(0, 71, 0);
}

.recipe__img > img {
  height: 200px;
  width: 200px;
}

.recipe__img > a {
  line-height: 100px;
  text-decoration: none;
  color: black;
  font-size: 1.7em;
}

.recipe__nutrients {
  position: relative;
}

.recipe__nutrients h4 {
  position: absolute;
  top: -40px;
  right: 20px;
  font-size: 2em;
  color: orange;
}

.labels span {
  display: inline-block;
  padding: 5px;
  margin: 5px 10px;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
}

.recipe__cautions span {
  background-color: rgb(146, 2, 2);
  color: White;
}

.recipe__health span {
  background-color: greenyellow;
}

.labels {
  margin: 20px;
}

@media (max-width: 720px) {
  .recipe__img > a {
    font-size: 1.3em;
    line-height: 1.3em;
  }
}

@media (max-width: 540px) {
  .recipe h2 {
    margin-top: 40px;
  }

  .recipe form input {
    width: 80%;
    font-size: 20px;
  }

  .recipe form button {
    width: 20%;
  }

  .recipe__main {
    width: 90%;
  }
  .recipe__img > a {
    font-size: 1.3em;
    line-height: 1.3em;
  }
  .recipe__nutrients h4 {
    top: 0;
    right: 0px;
  }
}

@media (max-width: 420px) {
  .recipe__img {
    display: flex;
    flex-direction: column;
  }

  .recipe__nutrients h4 {
    position: initial;
    margin: 10px 0;
  }
}
